<nav class="bg-indigo-600 text-white shadow-md sticky top-0 z-50">
  <div class="px-4">
    <div class="flex justify-between items-center h-16">
      <div class="flex-shrink-0 text-xl font-bold">
        Studio Booking
      </div>
      <ul class="flex space-x-6">
        <li>
          <a
            routerLink="/studios"
            routerLinkActive="underline decoration-2 decoration-white"
            class="hover:text-gray-300 transition"
          >Studio List</a>
        </li>
        <li>
          <a
            routerLink="/booking"
            routerLinkActive="underline decoration-2 decoration-white"
            class="hover:text-gray-300 transition"
          >Booking List</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

